@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-crimson-pro: var(--font-crimson-pro);
  --color-paperSwatch: #E7DDD4;
  --color-tfl-blue: #386d99;
  --color-tfl-green: #7f9b72;
  --color-tfl-light-green: #bbcfb0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  box-sizing: border-box;
}
